@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap');
@import "~@symfony/webpack-encore";

body {
    background-image: url('../../img/tile_background.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
}

nav {
    background-color: #ffffff;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, .2);
}

#navbar-title {
    font-family: 'Pacifico', cursive;
    font-size: 2rem;
}
.halfyellow{
    color: #FCD24F;
}
.halfgreen{
    color: #7ED957;
}
.nav-link{
    font-family: 'Montserrat', sans-serif;
    color: black;
}